.container{
    display: flex;
    justify-content: center;
    height: 90svh;
    align-items: center;
    background: snow;
}
.card{
    height: 80vh;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 80vw;
    border-radius: 10px;
    background: white;
    box-shadow: 10px 10px 15px rgb(173,173,173);
}
.cardleft{
    flex: 0.6;
    padding: 2rem;
    text-align: center;

}
.cardleftheading{
    font-size: 1.8rem;
    font-weight: bold;
}
.cardright{
    flex: 0.4;
    background: #cc2f1396;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
    max-width: 400px;
    margin:0 auto;
    gap: 1.5rem;
}
.inputfeild{
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
}
.buttondiv{
    padding: 0.8rem 1.3rem;
    background: rgb(236,236,236);
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
@media only screen and (max-width:600px){
    .card{
        flex-direction: column;
    }

}