.usercard{
    display: flex;
    width: 100%;
    gap: 1.2rem;
    padding: 1.3ren;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgb(173,173,173);
    cursor: pointer;
}
.profilepicture >img{
    width: 5rem;
    border-radius: 50%;
}
.myconnections{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.7rem;
  
}
.connectedbtn{
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    border: 1px solid rgba(3,93,183,0.905);
    outline: none;
    
    color: rgba(3,93,183,0.905);
    border-radius: 10px;
    cursor: pointer;

}
@media only screen and (max-width:600px){
    .profilepicture >img{
        width: 4rem;
    }


}